In [2]:
people = {
    'first' : ['Corey','Jane','John'],
    'last': ['Schefer','Doe','Doe'],
    'email':["CoreySchefer@gmail.com","JaneDoe@gmail.com","JohnDoe@gmail.com"]
}

In [4]:
import pandas as pd
df = pd.DataFrame(people)

In [20]:
filt = (df['last'] == 'Schefer') | (df['first']=='john')

In [18]:
df[filt]

   first     last                   email
0  Corey  Schefer  CoreySchefer@gmail.com

In [22]:
df.loc[~filt,'email']

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object